@import url(styles/basics.css);
@import url(styles/animations.css);
@import url(styles/button.css);
@import url(styles/header.css);
@import url(styles/hero.css);
@import url(styles/card.css);
@import url(styles/advantages.css);
@import url(styles/about-us.css);
@import url(styles/our-service.css);
@import url(styles/why-choose-us.css);
@import url(styles/how-to-get-started.css);
@import url(styles/what-our-clients-are-saying.css);
@import url(styles/our-pricing.css);
@import url(styles/our-trusted-partners.css);
@import url(styles/footer.css);
