.about-us {
	margin: 120px 0 0 0;
}

.about-us__container {
	display: flex;
	gap: 100px;
	align-items: end;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.about-us__main-image-wrapper {
	position: relative;
	width: 518px;
	height: 622px;
	flex-shrink: 0;
	animation: mainImageAnimationFromLeft 0.6s ease-in-out;
}

.about-us__main-image {
	width: 100%;
	height: 100%;
}

.about-us__main-image-wrapper::before {
	content: "";
	position: absolute;
	width: 600px;
	height: 200px;
	background: linear-gradient(to right, #0cbcf1c7, #e95ce9dc);
	filter: blur(100px);
	top: 40%;
	right: 3%;
	rotate: 145deg;
	z-index: -1;
	transform: scaleX(-1);
}

.about-us__main-image-wrapper::after {
	content: "";
	position: absolute;
	width: 399px;
	height: 497px;
	background: var(--black-bg-color);
	bottom: 0;
	left: 0;
	z-index: -2;
}

.about-us__video {
	position: absolute;
	left: 60%;
	top: 85%;
	height: 127px;
	width: 196px;
	background-color: var(--black-bg-color);
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	animation: videoAnimation 0.6s ease-in-out 0.5s forwards;
}

.about-us__video-icon {
	position: absolute;
	height: 28px;
	width: 28px;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	cursor: pointer;
	scale: 1;
	z-index: 9;
	transition: scale 0.3s ease-in-out;
}

.about-us__video-cover {
	position: absolute;
	width: 130px;
	height: 88px;
	scale: 1;
	top: 15%;
	right: 15%;
	transition: scale 0.6s ease-in-out;
}

.about-us__video:hover .about-us__video-cover,
.about-us__video:hover .about-us__video-icon {
	scale: 1.2;
}

.about-us__information-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 562px;
	gap: 12px;
}

.about-us__section-name {
	width: 200px;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 14%;
	opacity: 0;
	animation: videoAnimation 0.9s ease-in-out 0.5s forwards;
}

.about-us__title {
	color: var(--white-text-color);
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.3s forwards;
}

.about-us__description {
	color: var(--light-white-text-color);
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
}

.about-us__list {
	list-style: none;
	padding: 12px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 14px;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.6s forwards;
}

.about-us__list-item {
	position: relative;
	color: var(--white-text-color);
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	padding-left: 28px;
}

.about-us__list-item::before {
	position: absolute;
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	top: 6px;
	left: 0;
	background: linear-gradient(90deg, #0cbaf1, #e95ce9);
	-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.35556 6.31111L3.11111 7.55556L7.11111 11.5556L16 2.66667L14.7556 1.42222L7.11111 9.06667L4.35556 6.31111ZM14.2222 14.2222H1.77778V1.77778H10.6667V0H1.77778C0.8 0 0 0.8 0 1.77778V14.2222C0 15.2 0.8 16 1.77778 16H14.2222C15.2 16 16 15.2 16 14.2222V7.11111H14.2222V14.2222Z"/></svg>')
		no-repeat center;
	mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.35556 6.31111L3.11111 7.55556L7.11111 11.5556L16 2.66667L14.7556 1.42222L7.11111 9.06667L4.35556 6.31111ZM14.2222 14.2222H1.77778V1.77778H10.6667V0H1.77778C0.8 0 0 0.8 0 1.77778V14.2222C0 15.2 0.8 16 1.77778 16H14.2222C15.2 16 16 15.2 16 14.2222V7.11111H14.2222V14.2222Z"/></svg>')
		no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

.button--about-us {
	width: 168px;
	height: 50px;
	margin: 20px 0 0 0;
}

@media (max-width: 1260px) {
	.about-us__container {
		max-width: 1000px;
	}

	.about-us__information-wrapper {
		gap: 10px;
	}

	.about-us__title {
		font-size: 32px;
		line-height: 105%;
	}
}
