.advantages__container {
	display: flex;
	background-color: var(--black-bg-color);
	align-items: start;
	justify-content: space-around;
	width: 1200px;
	margin: 31px auto;
	border: 1px solid;
	border-image: var(--card-border-color) 1;
	height: 357px;
	opacity: 0;
}

.advantages__container--visible {
	animation: animationOfEmergence 0.6s ease-in-out forwards;
}

.advantages__container .card {
	max-width: 325px;
	max-height: 262px;
	padding: 42px 0;
}

.advantages__container .card:first-child {
	padding-left: 64px;
}

.advantages__container .card:last-child {
	padding-right: 64px;
}

.advantages__container .card__icon {
	width: 70px;
	height: 70px;
}

@media (max-width: 1260px) {
	.advantages__container {
		width: 1000px;
		margin: 31px auto;
		height: 357px;
		align-items: center;
	}

	.advantages__container .card {
		padding: 24px 0;
		max-width: 270px;
		min-height: 210px;
		gap: 10px;
	}

	.advantages__container .card__icon {
		scale: 0.9;
		translate: -10%;
	}

	.advantages__container .card__title {
		font-size: 16px;
		margin: 15px 0 0 0;
	}

	.advantages__container .card:first-child {
		padding-left: 34px;
	}

	.advantages__container .card:last-child {
		padding-right: 34px;
	}
}

@media (max-width: 1040px) {
	.advantages__container {
		width: 700px;
		height: 275px;
	}

	.advantages__container .card {
		padding: 24px 0;
		max-width: 200px;
	}

	.advantages__container .card:first-child {
		padding-left: 28px;
	}

	.advantages__container .card:last-child {
		padding-right: 28px;
	}

	.advantages__container .card__title {
		font-size: 14px;
		margin: 15px 0 0 0;
	}

	.advantages__container .card__description {
		font-size: 12px;
		line-height: 105%;
	}

	.advantages__container .card__icon {
		scale: 0.8;
		translate: -10%;
	}
}

@media (max-width: 740px) {
	.advantages {
		translate: 0 -6.8%;
	}

	.advantages__container {
		width: 350px;
		flex-wrap: wrap;
		height: 100%;
		padding: 0 5px;
	}

	.advantages__container .card {
		padding: 0 28px 0 28px;
		max-width: 300px;
	}

	.advantages__container .card:first-child {
		padding-top: 20px;
	}
	.advantages__container .card__icon {
		scale: 0.6;
		translate: -20%;
	}

	.advantages__container .card__title {
		margin: 3px 0 0 0;
	}
}
