@keyframes mainImageAnimation {
    from {
        opacity: 0.3;
        translate: 20%;
    }

    to {
        opacity: 1;
        translate: 0;
    }
}

@keyframes mainImageAnimationFromLeft {
    from {
        opacity: 0.3;
        translate: -20%;
    }

    to {
        opacity: 1;
        translate: 0;
    }
}

@keyframes animationOfEmergence {
    from {
        opacity: 0;
        translate: 0 60%;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes videoAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes cardButtonAnimation {
    from {
        opacity: 0;
        translate: -50% 30%;
    }

    to {
        opacity: 1;
        translate: -50% 0;
    }
}