:root {
	--light-white-text-color: rgba(255, 255, 255, 0.6);
	--white-text-color: #fff;
	--black-bg-color: #252532;
	--gradient: linear-gradient(to right, #0cbaf1, #e95ce9);
	--card-border-color: linear-gradient(to right, rgba(128, 129, 133, 0.452), #252532);
}

body {
	font-family: "Chakra Petch", sans-serif;
	background-color: #18181b;
	margin: 0;
	position: relative;
}

ul,
li, h1, p, h2, h3, h4 {
	padding: 0;
	margin: 0;
}

.bg-lines {
	position: absolute;
	top: 0;
	right: 0;
	width: 736px;
	height: 353px;
	z-index: -1;
}