body {
	font-family: "Chakra Petch", sans-serif;
	background-color: #18181b;
	margin: 0;
	position: relative;
}

ul,
li, h1, p {
	padding: 0;
	margin: 0;
}

.bg-lines {
	position: absolute;
	top: 0;
	right: 0;
	width: 736px;
	height: 353px;
	z-index: -1;
}