.button {
    all: unset;
    position: relative;
    display: block;
    background: linear-gradient(to right, #0cbaf1, #e95ce9);
    text-align: center;
    color: var(--white-text-color);
    font-weight: 700;
    cursor: pointer;
    animation: animationOfEmergence 0.6s ease-in-out 0.8s forwards;
    opacity: 0;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: calc(100% + 10px);
    width: calc(100% + 10px); 
    background: var(--gradient);
    opacity: 0;
    filter: blur(20px);
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.button:hover::before {
    opacity: 1;
}