.button {
    all: unset;
    position: relative;
    display: block;
    background: linear-gradient(to right, #0cbaf1, #e95ce9);
    text-align: center;
    color: var(--white-text-color);
    font-weight: 700;
    cursor: pointer;
    opacity: 0;
    font-size: 14px;
    letter-spacing: 1.5px;
    animation: animationOfEmergence 0.6s ease-in-out 0.8s forwards;
}

.button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: calc(100% + 10px);
    width: calc(100% + 10px); 
    background: var(--gradient);
    opacity: 0;
    filter: blur(20px);
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.button:hover::before {
    opacity: 1;
}

.button-second-type {
    all: unset;
	position: relative;
	display: block;
	background: transparent;
	color: var(--white-text-color);
	border: 1px solid;
	border-image: var(--gradient) 1;
	text-align: center;
	overflow: hidden;
}

.button-second-type::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background: var(--gradient);
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: opacity 0.5s ease-in-out;
}

.button-second-type:hover::before {
	opacity: 1;
}

.button-second-type:hover {
	cursor: pointer;
}
