.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--black-bg-color);
}

.card__title {
    margin: 30px 0 0 0;
    color: var(--white-text-color);
    font-size: 20px;

}

.card__description {
    color: var(--light-white-text-color);
    font-size: 14px;
    line-height: 28px;
}