.card {
    display: flex;
    flex-direction: column;
    padding: 42px 0;
    max-width: 325px;
    max-height: 262px;
    gap: 12px;
}

.card--left {
    padding-left: 64px;
}

.card--right {
    padding-right: 64px;
}

.card__icon {
    width: 70px;
    height: 70px;
}

.card__title {
    margin: 30px 0 0 0;
    color: var(--white-text-color);
    font-size: 20px;

}

.card__description {
    color: var(--light-white-text-color);
    font-size: 14px;
    line-height: 28px;
}