.footer {
	width: 100%;
	max-height: 508px;
	position: relative;
	padding: 0 0 40px 0;
	animation: animationOfEmergence 0.8s ease-in-out forwards;
}

.footer__bg-lines {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	max-width: 1322px;
	z-index: -1;
}

.footer__container {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 217px;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer__icons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 139px;
}

.footer__logo {
	width: 101px;
	height: 30px;
	cursor: pointer;
}

.footer__social-media-wrapper {
	display: flex;
	gap: 20px;
}

.footer__social-media-logo {
	width: 46px;
	height: 46px;
	cursor: pointer;
}

.footer__links-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer__quicklinks-wrapper,
.footer__support-wrapper,
.footer__help-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer__quicklinks-title,
.footer__support-title,
.footer__help-title {
	font-size: 16px;
	color: var(--white-text-color);
	line-height: 28px;
	font-weight: 600;
}

.footer__quicklinks-list,
.footer__support-list,
.footer__help-list {
	max-width: 350px;
	list-style: none;
	font-size: 16px;
	color: var(--white-text-color);
	line-height: 28px;
	font-weight: 300;
}

.footer__quicklinks-list li,
.footer__support-list li,
.footer__help-list li {
	margin: 0 0 16px 0;
	cursor: pointer;
}

.footer__help-list li {
	padding: 0 0 0 8px;
}

.footer__help-icon {
	width: 20px;
	height: 20px;
	translate: -8px 4px;
}
