.footer {
	width: 100%;
	max-height: 508px;
	position: relative;
	padding: 0 0 40px 0;
	animation: animationOfEmergence 0.8s ease-in-out forwards;
}

.footer__bg-lines {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	max-width: 1322px;
	z-index: -1;
}

.footer__container {
	height: 100%;
	display: flex;
	gap: 217px;
	align-items: center;
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer__icons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 139px;
}

.footer__logo {
	width: 101px;
	height: 30px;
	cursor: pointer;
}

.footer__social-media-wrapper {
	display: flex;
	gap: 20px;
}

.footer__social-media-logo {
	width: 46px;
	height: 46px;
	cursor: pointer;
}

.footer__links-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer__quicklinks-wrapper,
.footer__support-wrapper,
.footer__help-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: var(--white-text-color);
}

.footer__quicklinks-title,
.footer__support-title,
.footer__help-title {
	font-size: 16px;
	color: var(--white-text-color);
	line-height: 28px;
	font-weight: 600;
}

.footer__quicklinks-list,
.footer__support-list,
.footer__help-list {
	max-width: 350px;
	list-style: none;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

.footer__quicklinks-list li,
.footer__support-list li,
.footer__help-list li {
	margin: 0 0 16px 0;
	cursor: pointer;
}

.footer__link {
	text-decoration: none;
	color: var(--white-text-color);
}

.footer__help-list li {
	padding: 0 0 0 8px;
}

.footer__help-icon {
	width: 20px;
	height: 20px;
	translate: -8px 4px;
	fill: var(--white-text-color);
}

@media (max-width: 1260px) {
	.footer__container {
		width: 1000px;
		gap: 170px;
	}
}

@media (max-width: 1040px) {
	.footer {
		max-height: 308px;
		padding: 0 0 10px 0;
	}

	.footer__container {
		width: 700px;
		gap: 10px;
	}

	.footer__social-media-wrapper {
		display: flex;
		gap: 10px;
	}

	.footer__icons-wrapper {
		gap: 74px;
	}

	.footer__logo {
		scale: 0.8;
		translate: -10%;
	}

	.footer__social-media-wrapper {
		scale: 0.8;
		translate: -10%;
	}

	.footer__links-wrapper {
		gap: 2px;
	}

	.footer__quicklinks-wrapper,
	.footer__support-wrapper,
	.footer__help-wrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 100%;
	}

	.footer__quicklinks-title,
	.footer__support-title,
	.footer__help-title {
		font-size: 14px;
		line-height: 28px;
	}

	.footer__quicklinks-list,
	.footer__support-list,
	.footer__help-list {
		font-size: 14px;
		line-height: 18px;
	}

	.footer__help-list {
		translate: 0 -5px;
	}

	.footer__quicklinks-list li,
	.footer__support-list li,
	.footer__help-list li {
		margin: 0 0 8px 0;
	}

	.footer__help-list li {
		padding: 0 0 0 0;
	}

	.footer__help-icon {
		scale: 0.8;
		translate: 0 3px;
	}
}

@media (max-width: 740px) {
	.footer {
		max-height: 600px;
	}

	.footer__bg-lines {
		width: 100%;
	}

	.footer__container {
		width: 350px;
		padding: 0 5px;
		flex-wrap: wrap;
	}

	.footer__icons-wrapper {
		gap: 20px;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.footer__social-media-wrapper {
		gap: 14px;
		translate: 0;
	}

	.footer__links-wrapper {
		gap: 0;
		row-gap: 20px;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.footer__quicklinks-wrapper,
	.footer__support-wrapper,
	.footer__help-wrapper {
		gap: 8px;
		width: 50%;
	}

	.footer__quicklinks-wrapper,
	.footer__support-wrapper {
		width: 33%;
	}

	.footer__help-list {
		translate: 0 0;
	}

	.footer__quicklinks-list li,
	.footer__support-list li,
	.footer__help-list li {
		margin: 0 0 8px 0;
	}

	.footer__help-icon {
		translate: 0 5px;
	}
}
