.header {
	position: relative;
	padding: 25px 0;
	background: transparent;
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 16px;
	position: fixed;
	z-index: 999;
}

.header__container {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 217px;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.header__logo {
	width: 101px;
	height: 30px;
	z-index: 999;
}

.header__nav {
	padding: 0 0 0 20px;
	font-weight: 300;
}

.header__nav-list {
	display: flex;
	gap: 64px;
	list-style: none;
	align-items: center;
}

.header__nav-item {
	color: var(--light-white-text-color);
	transition: color 0.3s ease-in-out;
}

.header__nav-item:hover {
	color: var(--white-text-color);
	cursor: pointer;
}

.header__nav-item-arrow {
	width: 6px;
	height: 5px;
	padding: 0 0 0 7px;
}

.header .button-second-type {
	height: 52px;
	width: 126px;
}

.header__nav-mobile {
	display: none;
}

.header__nav-mobile #menu-toggle {
	display: none;
}

input:checked ~ .header_nav-mobile-wrapper {
	translate: 0;
}

input:checked ~ .header__nav-mobile-burger .header__nav-mobile-cross-icon {
	display: block;
}

input:checked ~ .header__nav-mobile-burger .header__nav-mobile-burger-icon {
	display: none;
}

.header__nav-mobile-burger {
	position: absolute;
	right: 20px;
	top: 25%;
	z-index: 999;
}

.header__nav-mobile-burger svg {
	width: 32px;
	height: 32px;
	scale: 1.2;
}

.header__nav-mobile-cross-icon {
	display: none;
}

.header_nav-mobile-wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: absolute;
	top: 0;
	left: 0;
	translate: -100%;
	width: 100vw;
	height: 50vh;
	transition: translate 0.6s ease-in-out;
	background-color: #252532e4;
}

.header__nav-mobile-list {
	display: flex;
	color: var(--light-white-text-color);
	flex-direction: column;
	gap: 25px;
	list-style: none;
	font-size: 20px;
	padding: 100px 0 0 20px;
}

.header_nav-mobile-wrapper .button-second-type {
	margin: 0 0 0 20px;
}

.header__nav-mobile-item-arrow {
	width: 8px;
	height: 7px;
	padding: 0 0 0 3px;
}

@media (max-width: 1260px) {
	.header__container {
		max-width: 1000px;
		gap: 150px;
	}
}

@media (max-width: 1040px) {
	.header {
		font-size: 14px;
	}

	.header__container {
		max-width: 700px;
		gap: 40px;
	}

	.header__nav-list {
		gap: 30px;
	}

	.header .button-second-type {
		height: 36px;
		width: 96px;
		font-size: 12px;
	}

	.header__logo {
		scale: 0.8;
		translate: -10%;
	}
}

@media (max-width: 740px) {
	.header__nav-list {
		display: none;
	}

	.header__container .button-second-type {
		display: none;
	}

	.header__nav-mobile {
		display: block;
	}
}
