.header {
	position: relative;
	padding: 25px 0;
	background: transparent;
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 16px;
	position: fixed;
	z-index: 999;
}

.header__container {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 217px;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.header__logo {
	width: 101px;
	height: 30px;
	z-index: 999;
}

.header__nav {
	padding: 0 0 0 20px;
	font-weight: 300;
}

.header__nav-list {
	display: flex;
	gap: 64px;
	list-style: none;
	align-items: center;
}

.header__nav-item {
	color: var(--light-white-text-color);
	transition: color 0.3s ease-in-out;
}

.header__nav-item:hover {
	color: var(--white-text-color);
	cursor: pointer;
}

.header__nav-item-arrow {
	width: 6px;
	height: 5px;
	padding: 0 0 0 7px;
}

.header .button-second-type {
	height: 52px;
	width: 126px;
}

.header__nav-mobile {
	display: none;
}

.header__nav-mobile #menu-toggle {
	display: none;
}

input:checked ~ .header_nav-mobile-wrapper {
	translate: 0;
}

input:checked ~ .header__nav-mobile-burger .header__nav-mobile-cross-icon {
	display: block;
}

input:checked ~ .header__nav-mobile-burger .header__nav-mobile-burger-icon {
	display: none;
}

.header__nav-mobile-burger {
	position: absolute;
	right: 20px;
	top: 25%;
	z-index: 999;
}

.header__nav-mobile-burger-icon,
.header__nav-mobile-cross-icon {
	position: relative;
	width: 32px;
	height: 32px;
	background-color: #18181b;
	translate: 0 -10px;
}

.header__nav-mobile-burger-icon::before,
.header__nav-mobile-cross-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	background: linear-gradient(90deg, #0cbaf1, #e95ce9);
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
}

.header__nav-mobile-burger-icon::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	height: 1.3px;
	background: white;
}

.header__nav-mobile-burger-icon .burger-line-middle {
	position: absolute;
	top: 15px;
	left: 16px;
	right: 10px;
	height: 1px;
	background: white;
}

.header__nav-mobile-burger-icon .burger-line-bottom {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 10px;
	height: 1px;
	background: white;
}

.header__nav-mobile-cross-icon {
	display: none;
}

.header__nav-mobile-cross-icon::after {
	content: "";
	position: absolute;
	top: 16px;
	left: 11px;
	width: 10px;
	height: 1px;
	background: white;
	transform: rotate(45deg);
}

.header__nav-mobile-cross-icon .cross-line-2 {
	position: absolute;
	top: 16px;
	left: 11px;
	width: 10px;
	height: 1px;
	background: white;
	transform: rotate(-45deg);
}

.header_nav-mobile-wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	translate: -100%;
	width: 100vw;
	height: 400px;
	transition: translate 0.6s ease-in-out;
	background-color: #252532e4;
}

.header_nav-mobile-container {
	max-width: 350px;
	margin: 0 auto;
	padding: 100px 20px 0;
	width: 100%;
}

.header__nav-mobile-list {
	display: flex;
	color: var(--light-white-text-color);
	flex-direction: column;
	gap: 25px;
	list-style: none;
	font-size: 20px;
}

.header__nav-mobile-item-arrow {
	width: 8px;
	height: 7px;
	padding: 0 0 0 3px;
}

@media (max-width: 1260px) {
	.header__container {
		max-width: 1000px;
		gap: 150px;
	}
}

@media (max-width: 1040px) {
	.header {
		font-size: 14px;
	}

	.header__container {
		max-width: 700px;
		gap: 40px;
	}

	.header__nav-list {
		gap: 30px;
	}

	.header .button-second-type {
		height: 36px;
		width: 96px;
		font-size: 12px;
	}

	.header__logo {
		scale: 0.8;
		translate: -10%;
	}
}

@media (max-width: 740px) {
	.header__container {
		max-width: 350px;
		position: relative;
	}

	.header__nav-list {
		display: none;
	}

	.header__container .button-second-type {
		display: none;
	}

	.header__nav-mobile {
		display: block;
		margin-left: auto;
	}
}
