.hero {
    position: relative;
}

.hero__bg-lines {
    position: absolute;
    width: 1097px;
    height: 721px;
    top: 26%;
    z-index: -1;
}

.hero__container {
	display: flex;
	gap: 135px;
	align-items: center;
    max-width: 1200px;
	margin: 0 auto;
    width: 100%;
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
}

.hero__title-wrapper {
    display: flex;
    padding: 87px 0 0 0;
    flex-direction: column;
    gap: 12px;
    max-width: 540px;
    
}

.hero__title {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    animation: animationOfEmergence 0.6s ease-in-out forwards;
    opacity: 0;
}

.hero__description {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    line-height: 28px;
    animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
    opacity: 0;
}

.hero__button {
    all: unset;
    position: relative;
    display: block;
    width: 206px;
    height: 50px;
    background: linear-gradient(to right, #0cbaf1, #e95ce9);
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin: 20px 0 0 0;
    cursor: pointer;
    animation: animationOfEmergence 0.6s ease-in-out 0.8s forwards;
    opacity: 0;
}

.hero__button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 60px;
    width: 216px;
    background: linear-gradient(to right, #0cbaf1, #e95ce9);
    opacity: 0;
    filter: blur(20px);
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.hero__button:hover::before {
    opacity: 1;
}

.hero__information-about-clients-wrapper {
    display: flex;
    padding: 42px 0 0 0;
    gap: 74px;
}

.hero__clients-container {
    max-width: 300px;
    height: 128px;
    display: flex;
    align-items: center;
    animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
    opacity: 0;
}

.hero__clients-images-container {
    position: relative;
    height: 50px;
    width: 140px;
}

.hero__client-image {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero__client-image:first-of-type {
    left: 0;
}

.hero__client-image:nth-of-type(2) {
    left: 27%;
}

.hero__client-image:nth-of-type(3) {
    left: 55%;
}


.hero__count-of-clients {
    color: rgba(255, 255, 255, 0.6);
}

.hero__count-of-clients-number {
    color: #fff;
    position: relative;
}

.hero__count-of-clients-number-underline {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    right: 10px;
}

.hero__video {
    position: relative;
    height: 127px;
    width: 196px;
    background-color: #252532;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    animation: videoAnimation 0.6s ease-in-out 0.5s  forwards;
}

@keyframes videoAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero__video-cover {
    width: 123px;
    height: 100%;
    scale: 1;
    transition: scale 0.6s ease-in-out;
    
}

.hero__video-icon {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    cursor: pointer;
    scale: 1;
    z-index: 9;
    transition: scale 0.3s ease-in-out;
}

.hero__video:hover .hero__video-cover,
.hero__video:hover .hero__video-icon {
    scale: 1.2;
}

.hero__main-image-wrapper {
    position: relative;
    width: 526px;
    height: 626px;
    padding: 0 10px 0 0
}

.hero__main-image {
    width: 526px;
    height: 626px;
    margin: 30px 14vw 0 0;
    animation: mainImageAnimation 0.6s ease-in-out;
}

.hero__main-image-wrapper::before {
    content: "";
    position: absolute;
    width: 567px;
    height: 340px;
    background: linear-gradient(to right, #0cbcf1a2, #e95ce9b4);
    filter: blur(100px);
    top: 35%;
    right: 3%;
    rotate: 135deg;
    z-index: -1;
    transform: scaleX(-1);
    animation: mainImageAnimation 0.6s ease-in-out;
}

@keyframes mainImageAnimation {
    from {
        opacity: 0.3;
        translate: 20%;
    }

    to {
        opacity: 1;
        translate: 0;
    }
}

@keyframes animationOfEmergence {
    from {
        opacity: 0;
        translate: 0 60%;
    }

    to {
        opacity: 1;
        translate: 0 0 ;
    }
}