.hero {
	position: relative;
	padding: 100px 0 0 0;
}

.hero__bg-lines {
	position: absolute;
	width: 90vw;
	height: 70vh;
	top: 26%;
	z-index: -1;
}

.hero__container {
	display: flex;
	gap: 135px;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.hero__wrapper {
	display: flex;
	flex-direction: column;
}

.hero__title-wrapper {
	display: flex;
	padding: 87px 0 0 0;
	flex-direction: column;
	gap: 12px;
	max-width: 540px;
}

.hero__title {
	color: var(--white-text-color);
	font-size: 64px;
	font-weight: 600;
	animation: animationOfEmergence 0.6s ease-in-out forwards;
	opacity: 0;
}

.hero__description {
	color: var(--light-white-text-color);
	font-size: 15px;
	line-height: 28px;
	animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
	opacity: 0;
}

.button--hero {
	width: 206px;
	height: 50px;
	margin: 20px 0 0 0;
}

.hero__information-about-clients-wrapper {
	display: flex;
	padding: 42px 0 0 0;
	gap: 74px;
}

.hero__clients-container {
	max-width: 300px;
	height: 128px;
	display: flex;
	align-items: center;
	animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
	opacity: 0;
}

.hero__clients-images-container {
	position: relative;
	height: 50px;
	width: 140px;
}

.hero__client-image {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.hero__client-image:first-of-type {
	left: 0;
}

.hero__client-image:nth-of-type(2) {
	left: 27%;
}

.hero__client-image:nth-of-type(3) {
	left: 55%;
}

.hero__count-of-clients {
	color: var(--light-white-text-color);
	width: 60%;
	padding: 0 0 0 5px;
}

.hero__count-of-clients-number {
	color: var(--white-text-color);
	position: relative;
}

.hero__count-of-clients-number-underline {
	width: 28px;
	height: 10px;
	position: absolute;
	top: 20px;
	right: 10px;
}

.hero__video {
	position: relative;
	height: 127px;
	width: 196px;
	background-color: var(--black-bg-color);
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	animation: videoAnimation 0.6s ease-in-out 0.5s forwards;
}

.hero__video-cover {
	width: 123px;
	height: 100%;
	scale: 1;
	transition: scale 0.6s ease-in-out;
}

.hero__video-icon {
	position: absolute;
	height: 28px;
	width: 28px;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	cursor: pointer;
	scale: 1;
	z-index: 9;
	transition: scale 0.3s ease-in-out;
}

.hero__video:hover .hero__video-cover,
.hero__video:hover .hero__video-icon {
	scale: 1.2;
}

.hero__main-image-wrapper {
	position: relative;
	width: 526px;
	height: 626px;
}

.hero__main-image-wrapper .hero__video {
	display: none;
}

.hero__main-image-wrapper img {
	width: 100%;
	height: 100%;
	margin: 30px 0 0 0;
	animation: mainImageAnimation 0.6s ease-in-out;
}

.hero__main-image-wrapper::before {
	content: "";
	position: absolute;
	width: 54vw;
	height: 34vh;
	background: linear-gradient(to right, #0cbcf1a2, #e95ce9b4);
	filter: blur(100px);
	top: 35%;
	right: 3%;
	rotate: 135deg;
	z-index: -1;
	transform: scaleX(-1);
	animation: mainImageAnimation 0.6s ease-in-out;
}

@media (max-width: 1260px) {
	.hero__container {
		gap: 70px;
		max-width: 1000px;
	}

	.hero__title {
		font-size: 38px;
	}

	.hero__information-about-clients-wrapper {
		gap: 34px;
	}

	.hero__main-image-wrapper {
		width: 460px;
		height: 526px;
	}

	.hero__main-image-wrapper::before {
		width: 440px;
		height: 240px;
	}
}

@media (max-width: 1040px) {
	.hero {
		padding: 70px 0 0 0;
	}

	.hero__container {
		max-width: 700px;
		gap: 30px;
	}

	.hero__title-wrapper {
		gap: 8px;
		max-width: 300px;
	}

	.hero__title {
		font-size: 30px;
	}

	.hero__description {
		font-size: 14px;
		line-height: 105%;
	}

	.button--hero {
		width: 156px;
		height: 40px;
		font-size: 12px;
		margin: 10px 0 0 0;
	}

	.hero__information-about-clients-wrapper {
		padding: 22px 0 0 0;
		gap: 18px;
	}

	.hero__count-of-clients {
		width: 80%;
		padding: 0 0 0 13px;
		font-size: 14px;
	}

	.hero__count-of-clients-number {
		font-size: 14px;
	}

	.hero__video {
		height: 100%;
		width: 175px;
	}

	.hero__main-image-wrapper {
		width: 100%;
		height: 100%;
	}

	.hero__main-image-wrapper img {
		translate: 0 17%;
	}
}

@media (max-width: 740px) {
	.hero__container {
		max-width: 350px;
		width: 100%;
		flex-wrap: wrap;
		gap: 0;
		padding: 0 5px;
		justify-content: center;
	}

	.hero__title-wrapper {
		padding: 40px 0 0 0;
	}

	.hero__clients-container {
		height: 40px;
		padding: 0;
	}

	.hero__main-image-wrapper {
		max-width: 430px;
		height: 100%;
		margin: 0;
		display: flex;
		translate: 0 -20%;
	}

	.hero__video {
		translate: 22px;
		z-index: 99;
	}

	.hero__main-image-wrapper::before {
		scale: 0.6;
	}

	.hero__main-image-wrapper img {
		width: 230px;
		overflow-x: hidden;
	}

	.hero__information-about-clients-wrapper .hero__video {
		display: none;
	}

	.hero__information-about-clients-wrapper {
		max-height: 100px;
	}

	.hero__main-image-wrapper .hero__video {
		display: block;
		width: 150px;
		height: 100px;
		margin: 150px 0 0 0;
	}

	.hero__main-image-wrapper .hero__video img {
		width: 103px;
		height: 100%;
		scale: 1;
		translate: 0 -24%;
	}
}
