.how-to-get-started {
    margin: 150px 0 0 0;
}

.how-to-get-started__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.how-to-get-started__information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 870px;
}

.how-to-get-started__section-name {
    width: 202px;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 14%;
    opacity: 0;
    animation: videoAnimation 0.9s ease-in-out 0.5s forwards;
}

.how-to-get-started__title {
     color: var(--white-text-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    opacity: 0;
    animation: animationOfEmergence 0.6s ease-in-out 0.3s forwards;
    text-align: center;
}

.how-to-get-started__video-container {
    position: relative;
    max-width: 1200px;
    max-height: 522px;
    overflow: hidden;
    border-radius: 12px;
    opacity: 0;
    animation: animationOfEmergence 0.6s ease-in-out 0.7s forwards;
    cursor: pointer;
}

.how-to-get-started__video-container::before {
    content: "";
    background: var(--gradient);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.2;
}

.how-to-get-started__video-container:hover img,
.how-to-get-started__video-container:hover .how-to-get-started__video-icon {
    scale: 1.2;
}

.how-to-get-started__video-container img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    translate: 0 -5%;
    transition: scale 0.5s ease-in-out;
}

.how-to-get-started__video-information {
    position: absolute;
    display: flex;
    gap: 12px;
    flex-direction: column;
    top: 52px;
    left: 34px;
    z-index: 2;
}

.how-to-get-started__video-tag {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--white-text-color);
    border-radius: 16px;
    line-height: 24px;
}

.how-to-get-started__video-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    color: var(--white-text-color);
}

.how-to-get-started__video-icon {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 99;
    transition: scale 0.3s ease-in-out;
    
}

.how-to-get-started__video-timeline-container {
    position: absolute;
    width: 1135px;
    max-height: 24px;
    top: 90%;
    left: 34px;
}

.how-to-get-started__video-timeline-container::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    translate: 0 -50%;
    left: 2.5%;
    border-radius: 4px;
}

.how-to-get-started__icon-wrapper {
    position: relative;
    max-width: 1107px;
    height: 100%;
}

.how-to-get-started__video-timeline-icon {
    width: 16px;
    height: 16px;
    padding: 3px 0 0 0;
}

.how-to-get-started__icon-wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    background-color: rgb(255, 255, 255, .3);
    top: 50%;
    translate: 0 -50%;
    left: 2.5%;
    border-radius: 4px;
    
}

.how-to-get-started__icon-wrapper::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.445);
    top: 50%;
    translate: 0 -50%;
    left: 2.5%;
    border-radius: 4px;
    
}

.button--how-to-get-started {
    width: 182px;
    height: 50px;
    z-index: 999;
}
