.how-to-get-started {
	margin: 150px 0 0 0;
}

.how-to-get-started__container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	width: 1200px;
	align-items: center;
	margin: 0 auto;
	padding: 0 20px;
}

.how-to-get-started__information-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	max-width: 870px;
}

.how-to-get-started__section-name {
	width: 250px;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 14%;
	opacity: 0;
}

.how-to-get-started__section-name--visible {
	animation: videoAnimation 0.9s ease-in-out 0.5s forwards;
}

.how-to-get-started__title {
	color: var(--white-text-color);
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
	opacity: 0;
	text-align: center;
}

.how-to-get-started__title--visible {
	animation: animationOfEmergence 0.6s ease-in-out 0.9s forwards;
}

.how-to-get-started__video-container {
	position: relative;
	max-width: 1200px;
	max-height: 522px;
	overflow: hidden;
	border-radius: 12px;
	opacity: 0;
	cursor: pointer;
}

.how-to-get-started__video-container--visible {
	animation: animationOfEmergence 0.6s ease-in-out 0.7s forwards;
}

.how-to-get-started__video-container::before {
	content: "";
	background: var(--gradient);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.2;
}

.how-to-get-started__video-container:hover img,
.how-to-get-started__video-container:hover .how-to-get-started__video-icon {
	scale: 1.2;
}

.how-to-get-started__video-container img {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	translate: 0 -5%;
	transition: scale 0.5s ease-in-out;
}

.how-to-get-started__video-information {
	position: absolute;
	display: flex;
	gap: 12px;
	flex-direction: column;
	top: 52px;
	left: 34px;
	z-index: 2;
}

.how-to-get-started__video-tag {
	background-color: rgba(255, 255, 255, 0.3);
	width: 90px;
	height: 24px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	color: var(--white-text-color);
	border-radius: 16px;
	line-height: 24px;
}

.how-to-get-started__video-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -2%;
	color: var(--white-text-color);
}

.how-to-get-started__video-icon {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 99;
	transition: scale 0.3s ease-in-out;
}

.how-to-get-started__video-timeline-container {
	position: absolute;
	width: 1135px;
	max-height: 24px;
	top: 90%;
	left: 34px;
}

.how-to-get-started__video-timeline-container::after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	background-color: rgb(255, 255, 255);
	top: 50%;
	translate: 0 -50%;
	left: 2.5%;
	border-radius: 4px;
}

.how-to-get-started__icon-wrapper {
	position: relative;
	max-width: 1107px;
	height: 100%;
}

.how-to-get-started__video-timeline-icon {
	width: 16px;
	height: 16px;
	padding: 3px 0 0 0;
}

.how-to-get-started__icon-wrapper::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 8px;
	background-color: rgb(255, 255, 255, 0.3);
	top: 50%;
	translate: 0 -50%;
	left: 2.5%;
	border-radius: 4px;
}

.how-to-get-started__icon-wrapper::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 8px;
	background-color: rgba(255, 255, 255, 0.445);
	top: 50%;
	translate: 0 -50%;
	left: 2.5%;
	border-radius: 4px;
}

.button--how-to-get-started {
	width: 182px;
	height: 50px;
	z-index: 999;
}

@media (max-width: 1260px) {
	.how-to-get-started__container {
		width: 1000px;
	}

	.how-to-get-started__information-wrapper {
		gap: 10px;
	}

	.how-to-get-started__title {
		font-size: 32px;
		line-height: 105%;
	}

	.how-to-get-started__video-timeline-container {
		width: 94%;
		left: 14px;
	}
}

@media (max-width: 1040px) {
	.how-to-get-started__container {
		width: 700px;
		gap: 40px;
	}

	.how-to-get-started__information-wrapper {
		gap: 8px;
	}

	.how-to-get-started__section-name {
		font-size: 14px;
	}

	.how-to-get-started__title {
		font-size: 28px;
	}

	.how-to-get-started__video-container img {
		translate: 0;
		scale: 1.1;
	}

	.how-to-get-started__video-container::before {
		width: 100%;
		height: 100%;
		border-radius: 12px;
	}

	.how-to-get-started__video-tag {
		width: 88px;
		height: 20px;
		font-size: 12px;
		line-height: 22px;
	}

	.how-to-get-started__video-title {
		font-size: 28px;
		line-height: 105%;
		letter-spacing: -2%;
	}

	.how-to-get-started__video-icon {
		scale: 0.8;
	}

	.how-to-get-started__video-timeline-container {
		position: absolute;
		top: 85%;
		width: 92%;
	}

	.how-to-get-started__icon-wrapper::after {
		left: 3%;
	}

	.how-to-get-started__video-timeline-container::after {
		left: 3%;
	}

	.how-to-get-started__icon-wrapper::before {
		left: 3%;
	}

	.button--how-to-get-started {
		width: 152px;
		height: 40px;
		font-size: 12px;
	}
}

@media (max-width: 740px) {
	.how-to-get-started {
		margin: 60px 0 0 0;
	}

	.how-to-get-started__container {
		width: 350px;
		padding: 0 5px;
	}

	.how-to-get-started__section-name {
		font-size: 12px;
		text-align: center;
	}

	.how-to-get-started__title {
		font-size: 24px;
	}

	.how-to-get-started__video-information {
		gap: 10px;
		top: 30px;
		left: 20px;
	}

	.how-to-get-started__video-title {
		font-size: 20px;
	}

	.how-to-get-started__video-icon {
		scale: 0.5;
	}

	.how-to-get-started__video-timeline-container {
		position: absolute;
		top: 87%;
		width: 80%;
		height: 20px;
		left: 20px;
	}

	.how-to-get-started__icon-wrapper::after {
		left: 6%;
		height: 5px;
	}

	.how-to-get-started__video-timeline-container::after {
		left: 6%;
		height: 5px;
	}

	.how-to-get-started__icon-wrapper::before {
		left: 6%;
		height: 5px;
	}

	.how-to-get-started__video-timeline-icon {
		scale: 0.8;
	}

	.button--how-to-get-started {
		width: 130px;
	}
}
