.our-trusted-partners {
	margin: 150px 0 0 0;
	position: relative;
}

.bg-rounds2 {
	position: absolute;
	width: 1055px;
	height: 541px;
	z-index: -1;
	top: 12%;
	left: 50%;
	translate: -50%;
}

.our-trusted-partners__container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 1200px;
	align-items: center;
	margin: 0 auto;
	padding: 0 20px;
}

.our-trusted-partners__section-name {
	width: 252px;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 14%;
	opacity: 0;
	animation: videoAnimation 0.9s ease-in-out 0.7s forwards;
}

.our-trusted-partners__title {
	position: relative;
	color: var(--white-text-color);
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
	text-align: center;
}

.our-trusted-partners__main-image-wrapper {
	position: relative;
	max-width: 1055px;
	margin: 210px 0 0 58px;
}

.our-trusted-partners__main-image {
	width: 100%;
	height: 100%;
}

.our-trusted-partners__partner-container {
	background-color: var(--black-bg-color);
	width: 102px;
	height: 102px;
	border-radius: 360px;
	position: relative;
	background-color: rgba(37, 37, 50, 0.807);
	border: 1px solid rgba(100, 100, 100, 0.212);
}

.our-trusted-partners__partner-container:nth-of-type(2) {
	position: absolute;
	top: 146px;
	left: 49.5%;
	translate: -49.5%;
	animation: bigAndSmallAnimation 4s 2s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(3) {
	position: absolute;
	top: 244px;
	left: 29.5%;
	translate: -29.5%;
	animation: bigAndSmallAnimation 4s 6s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(4) {
	position: absolute;
	top: 244px;
	right: 25.5%;
	translate: -25.5%;
	animation: bigAndSmallAnimation 4s 3s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(5) {
	position: absolute;
	top: 443px;
	left: 19.5%;
	translate: -19.5%;
	animation: bigAndSmallAnimation 4s 6s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(6) {
	position: absolute;
	top: 443px;
	right: 17.5%;
	translate: -17.5%;
	animation: bigAndSmallAnimation 4s 7s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(7) {
	position: absolute;
	top: 643px;
	left: 18.5%;
	translate: -18.5%;
	animation: bigAndSmallAnimation 4s 8s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(8) {
	position: absolute;
	top: 643px;
	right: 15.5%;
	translate: -15.5%;
	animation: bigAndSmallAnimation 4s 2s forwards infinite;
}

.our-trusted-partners__icon {
	position: absolute;
	width: 79px;
	height: 20px;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.our-trusted-partners:not(
		.our-trusted-partners .our-trusted-partners__title,
		.our-trusted-partners .our-trusted-partners__section-name
	) {
	opacity: 0;
	animation: secondTypeOfEmergence 0.7s ease-in-out forwards;
}

@media (max-width: 1260px) {
	.our-trusted-partners {
		overflow: hidden;
	}

	.our-trusted-partners__container {
		max-width: 1000px;
		gap: 10px;
	}

	.our-trusted-partners__title {
		font-size: 32px;
		line-height: 105%;
	}

	.our-trusted-partners__main-image-wrapper {
		margin: 210px 0 0 35px;
	}
}

@media (max-width: 1040px) {
	.our-trusted-partners {
		margin: 120px 0 0 0;
	}

	.bg-rounds2 {
		scale: 0.8;
		top: 7%;
	}

	.our-trusted-partners__container {
		max-width: 700px;
		gap: 8px;
	}

	.our-trusted-partners__section-name {
		font-size: 12px;
	}

	.our-trusted-partners__title {
		font-size: 28px;
	}

	.our-trusted-partners__main-image-wrapper {
		margin: 210px 0 0 40px;
	}
}
