.our-trusted-partners {
	margin: 150px 0 0 0;
	position: relative;
}

.bg-rounds2 {
	position: absolute;
	width: 1055px;
	height: 541px;
	z-index: -1;
	top: 12%;
	left: 50%;
	translate: -50%;
}

.our-trusted-partners__container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 1200px;
	align-items: center;
	margin: 0 auto;
	padding: 0 20px;
}

.our-trusted-partners__section-name {
	width: 252px;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 14%;
	opacity: 0;
	animation: videoAnimation 0.9s ease-in-out 0.7s forwards;
}

.our-trusted-partners__title {
	color: var(--white-text-color);
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
	text-align: center;
}

.our-trusted-partners__main-image-wrapper {
	max-width: 1055px;
	margin: 210px 0 0 58px;
}

.our-trusted-partners__main-image {
	width: 100%;
	height: 100%;
}

.our-trusted-partners__partner-container {
	background-color: var(--black-bg-color);
	width: 102px;
	height: 102px;
	border-radius: 360px;
	position: relative;
	background-color: rgba(37, 37, 50, 0.807);
	border: 1px solid rgba(100, 100, 100, 0.212);
}

.our-trusted-partners__partner-container:nth-of-type(2) {
	position: absolute;
	top: 136px;
	left: 555px;
	animation: bigAndSmallAnimation 4s 2s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(3) {
	position: absolute;
	top: 244px;
	left: 275px;
	animation: bigAndSmallAnimation 4s 6s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(4) {
	position: absolute;
	top: 244px;
	right: 275px;
	animation: bigAndSmallAnimation 4s 3s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(5) {
	position: absolute;
	top: 443px;
	left: 142px;
	animation: bigAndSmallAnimation 4s 6s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(6) {
	position: absolute;
	top: 443px;
	right: 142px;
	animation: bigAndSmallAnimation 4s 7s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(7) {
	position: absolute;
	top: 643px;
	left: 118px;
	animation: bigAndSmallAnimation 4s 8s forwards infinite;
}

.our-trusted-partners__partner-container:nth-of-type(8) {
	position: absolute;
	top: 643px;
	right: 118px;
	animation: bigAndSmallAnimation 4s 2s forwards infinite;
}

.our-trusted-partners__icon {
	position: absolute;
	width: 79px;
	height: 20px;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.our-trusted-partners:not(
		.our-trusted-partners .our-trusted-partners__title,
		.our-trusted-partners .our-trusted-partners__section-name
	) {
	opacity: 0;
	animation: secondTypeOfEmergence 0.7s ease-in-out forwards;
}

@media (max-width: 1260px) {
	.our-trusted-partners {
		overflow: hidden;
	}

	.our-trusted-partners__container {
		width: 1000px;
		gap: 10px;
	}

	.our-trusted-partners__title {
		font-size: 32px;
		line-height: 105%;
	}

	.our-trusted-partners__main-image-wrapper {
		margin: 210px 0 0 35px;
	}

	.our-trusted-partners__partner-container:nth-of-type(2) {
		top: 136px;
		left: 455px;
	}

	.our-trusted-partners__partner-container:nth-of-type(3) {
		top: 244px;
		left: 175px;
	}

	.our-trusted-partners__partner-container:nth-of-type(4) {
		top: 244px;
		right: 175px;
	}

	.our-trusted-partners__partner-container:nth-of-type(5) {
		top: 443px;
		left: 42px;
	}

	.our-trusted-partners__partner-container:nth-of-type(6) {
		top: 443px;
		right: 42px;
	}

	.our-trusted-partners__partner-container:nth-of-type(7) {
		top: 643px;
		left: 18px;
	}

	.our-trusted-partners__partner-container:nth-of-type(8) {
		top: 643px;
		right: 18px;
	}
}

@media (max-width: 1040px) {
	.our-trusted-partners {
		margin: 120px 0 0 0;
	}

	.bg-rounds2 {
		scale: 0.8;
		top: 7%;
	}

	.our-trusted-partners__container {
		width: 700px;
		gap: 8px;
	}

	.our-trusted-partners__section-name {
		font-size: 12px;
	}

	.our-trusted-partners__title {
		font-size: 28px;
	}

	.our-trusted-partners__main-image-wrapper {
		margin: 210px 0 0 40px;
	}

	.our-trusted-partners__partner-container:nth-of-type(2) {
		scale: 0.8;
		top: 116px;
		left: 313px;
		animation: bigAndSmallAnimation2 4s 2s forwards infinite;
	}

	.our-trusted-partners__partner-container:nth-of-type(3) {
		scale: 0.8;
		top: 180px;
		left: 110px;
		animation: bigAndSmallAnimation2 4s 6s forwards infinite;
	}

	.our-trusted-partners__partner-container:nth-of-type(4) {
		scale: 0.8;
		top: 180px;
		right: 110px;
		animation: bigAndSmallAnimation2 4s 3s forwards infinite;
	}

	.our-trusted-partners__partner-container:nth-of-type(5) {
		scale: 0.8;
		top: 344px;
		left: -15px;
		animation: bigAndSmallAnimation2 4s 6s forwards infinite;
	}

	.our-trusted-partners__partner-container:nth-of-type(6) {
		scale: 0.8;
		top: 344px;
		right: -15px;
		animation: bigAndSmallAnimation2 4s 7s forwards infinite;
	}

	.our-trusted-partners__partner-container:nth-of-type(7) {
		scale: 0.8;
		top: 520px;
		left: -24px;
		animation: bigAndSmallAnimation2 4s 8s forwards infinite;
	}

	.our-trusted-partners__partner-container:nth-of-type(8) {
		scale: 0.8;
		top: 520px;
		right: -28px;
		animation: bigAndSmallAnimation2 4s 2s forwards infinite;
	}
}

@media (max-width: 740px) {
	.our-trusted-partners {
		height: 535px;
	}

	.our-trusted-partners__container {
		width: 350px;
		padding: 0 5px;
	}

	.our-trusted-partners__section-name {
		font-size: 12px;
	}

	.our-trusted-partners__title {
		font-size: 24px;
	}

	.bg-rounds2 {
		scale: 0.4;
		top: -40px;
	}

	.our-trusted-partners__main-image-wrapper {
		margin: 160px 0 0 40px;
	}

	.our-trusted-partners__main-image-wrapper img {
		scale: 1.5;
	}

	.our-trusted-partners__partner-container {
		width: 62px;
		height: 62px;
	}

	.our-trusted-partners__partner-container:nth-of-type(7) {
		top: 243px;
	}

	.our-trusted-partners__partner-container:nth-of-type(8) {
		top: 243px;
	}

	.our-trusted-partners__icon {
		scale: 0.6;
	}

	.our-trusted-partners__partner-container:nth-of-type(2) {
		top: 116px;
		left: 148px;
	}

	.our-trusted-partners__partner-container:nth-of-type(3) {
		top: 150px;
		left: 50px;
	}

	.our-trusted-partners__partner-container:nth-of-type(4) {
		top: 150px;
		right: 50px;
	}

	.our-trusted-partners__partner-container:nth-of-type(5) {
		top: 224px;
		left: -10px;
	}

	.our-trusted-partners__partner-container:nth-of-type(6) {
		top: 224px;
		right: -10px;
	}

	.our-trusted-partners__partner-container:nth-of-type(7) {
		scale: 0.8;
		top: 320px;
		left: -24px;
		animation: bigAndSmallAnimation2 4s 8s forwards infinite;
	}

	.our-trusted-partners__partner-container:nth-of-type(8) {
		top: 320px;
		right: -28px;
	}
}
