.what-our-clients-are-saying {
	margin: 100px 0 0 0;
	position: relative;
	height: 1247px;
}

.bg-rounds {
	position: absolute;
	width: 1247px;
	height: 1247px;
	z-index: -1;
	top: 0;
	left: 50%;
	translate: -50%;
}

.what-our-clients-are-saying__container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 1200px;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	padding: 111px 20px 0 20px;
}

.what-our-clients-are-saying__section-name {
	width: 202px;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 14%;
	opacity: 0;
	animation: videoAnimation 0.9s ease-in-out 0.7s forwards;
}
.what-our-clients-are-saying__title {
	color: var(--white-text-color);
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.5s forwards;
	text-align: center;
}

.what-our-clients-are-saying__main-image-wrapper {
	position: relative;
	max-width: 1164px;
	max-height: 831px;
	padding: 51px 0 0 84px;
}

.what-our-clients-are-saying__main-image {
	width: 100%;
	height: 100%;
}

.what-our-clients-are-saying__client-image-wrapper:nth-of-type(2) {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 350px;
	left: 330px;
}

.what-our-clients-are-saying__client-image-wrapper:nth-of-type(3) {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 230px;
	right: 820px;
}

.what-our-clients-are-saying__client-image-wrapper:nth-of-type(4) {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 600px;
	right: 356px;
}

.what-our-clients-are-saying__client-image-wrapper:nth-of-type(5) {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 805px;
	right: 900px;
}

.what-our-clients-are-saying__client-image-wrapper:nth-of-type(6) {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 900px;
	left: 405px;
}

.what-our-clients-are-saying__client-image-wrapper:nth-of-type(7) {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 1120px;
	right: 600px;
}

.what-our-clients-are-saying__client-image-wrapper::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 75px;
	top: 0;
	left: 0;
	border-radius: 360px;
	background-color: rgba(37, 37, 50, 0.11);
	border: 1px solid rgba(100, 100, 100, 0.212);
}

.what-our-clients-are-saying__client-image {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.what-our-clients-are-saying:not(
		.what-our-clients-are-saying .what-our-clients-are-saying__title,
		.what-our-clients-are-saying .what-our-clients-are-saying__section-name
	) {
	opacity: 0;
	animation: secondTypeOfEmergence 0.7s ease-in-out forwards;
}

@media (max-width: 1260px) {
	.what-our-clients-are-saying {
		overflow-x: hidden;
	}

	.bg-rounds {
		scale: 0.9;
	}

	.what-our-clients-are-saying__container {
		max-width: 1000px;
	}

	.what-our-clients-are-saying__container {
		gap: 10px;
	}

	.what-our-clients-are-saying__title {
		font-size: 32px;
		line-height: 105%;
	}

	.what-our-clients-are-saying__main-image-wrapper {
		padding: 140px 0 0 80px;
	}
}

@media (max-width: 1040px) {
	.what-our-clients-are-saying {
		margin: 0 0 0 0;
	}

	.bg-rounds {
		top: -10px;
	}

	.what-our-clients-are-saying__container {
		max-width: 800px;
		padding: 90px 0 0 0;
	}

	.what-our-clients-are-saying__container {
		gap: 8px;
	}

	.what-our-clients-are-saying__section-name {
		font-size: 14px;
	}

	.what-our-clients-are-saying__title {
		font-size: 28px;
	}

	.what-our-clients-are-saying__main-image-wrapper {
		padding: 140px 0 0 80px;
	}

	.what-our-clients-are-saying__main-image-wrapper {
		padding: 220px 0 0 65px;
	}

	.what-our-clients-are-saying__main-image-wrapper img {
		scale: 1.1;
	}
}

@media (max-width: 740px) {
	.what-our-clients-are-saying {
		height: 840px;
	}
	.what-our-clients-are-saying__container {
		max-width: 350px;
		padding: 90px 5px 0 5px;
	}

	.what-our-clients-are-saying__section-name {
		font-size: 12px;
	}

	.what-our-clients-are-saying__title {
		font-size: 24px;
	}

	.bg-rounds {
		scale: 0.6;
		top: -180px;
	}

	.what-our-clients-are-saying__main-image-wrapper {
		padding: 210px 0 0 50px;
	}

	.what-our-clients-are-saying__main-image-wrapper img {
		scale: 2;
	}

	.what-our-clients-are-saying__client-image-wrapper:nth-of-type(6) {
		top: 706px;
	}

	.what-our-clients-are-saying__client-image-wrapper:nth-of-type(3),
	.what-our-clients-are-saying__client-image-wrapper:nth-of-type(5),
	.what-our-clients-are-saying__client-image-wrapper:nth-of-type(7) {
		top: 0;
		right: 0;
	}
}
