.why-choose-us {
	margin: 150px 0 0 0;
}

.why-choose-us__container {
	display: flex;
	gap: 110px;
	max-width: 1200px;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
}

.why-choose-us__information-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 548px;
	gap: 12px;
}

.why-choose-us__section-name {
	width: 200px;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 14%;
	opacity: 0;
	animation: videoAnimation 0.9s ease-in-out 0.5s forwards;
}

.why-choose-us__title {
	color: var(--white-text-color);
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.3s forwards;
}

.why-choose-us__reasons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 22px 0 0 0;
	opacity: 0;
	animation: animationOfEmergence 0.6s ease-in-out 0.3s forwards;
}

.why-choose-us__reason-title {
	position: relative;
	list-style: none;
	color: var(--white-text-color);
	font-weight: 500;
	font-size: 20px;
	vertical-align: bottom;
	cursor: pointer;
	height: 38px;
}

.why-choose-us__reason-title::after {
	content: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 4.00039L0 1.00039L0.5375 0.462891L3 2.93789L5.4625 0.475391L6 1.01289L3 4.00039Z' fill='white'/%3E%3C/svg%3E");
	position: absolute;
	right: 0;
	bottom: 40%;
}

.why-choose-us__reason-title::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: var(--light-white-text-color);
	opacity: 0.6;
	bottom: 0;
}

.why-choose-use__reason-description {
	color: var(--light-white-text-color);
	font-size: 16px;
	line-height: 28px;
	padding: 24px 0 0 0;
}

.why-choose-us-image-wrapper {
	position: relative;
	max-width: 608px;
	height: 100%;
	animation: mainImageAnimation 0.6s ease-in-out;
}

.why-choose-us-image {
	width: 100%;
	height: 100%;
	scale: -1 1;
}

.why-choose-us-image-wrapper::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 40%;
	background: linear-gradient(to right, #0cbcf180, #e95ce99a);
	filter: blur(100px);
	top: 40%;
	right: 8%;
	rotate: 135deg;
	z-index: -1;
	transform: scaleX(-1);
}

.why-choose-us-image-wrapper::after {
	content: "";
	position: absolute;
	width: 399px;
	height: 497px;
	background: var(--black-bg-color);
	bottom: 0;
	left: 27%;
	translate: -27%;
	z-index: -2;
}

.why-choose-us__video {
	position: absolute;
	left: 50%;
	top: 85%;
	height: 128px;
	width: 196px;
	background-color: var(--black-bg-color);
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	animation: videoAnimation 0.6s ease-in-out 0.5s forwards;
}

.why-choose-us__video-icon {
	position: absolute;
	height: 28px;
	width: 28px;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	cursor: pointer;
	scale: 1;
	z-index: 9;
	transition: scale 0.3s ease-in-out;
}

.why-choose-us__video-cover {
	width: 100%;
	height: 100%;
	scale: 1;
	transition: scale 0.6s ease-in-out;
}

.why-choose-us__video:hover .why-choose-us__video-cover,
.why-choose-us__video:hover .why-choose-us__video-icon {
	scale: 1.2;
}

@media (max-width: 1260px) {
	.why-choose-us {
		margin: 250px 0 0 0;
	}

	.why-choose-us__container {
		max-width: 1000px;
	}

	.why-choose-us__information-wrapper {
		gap: 10px;
	}

	.why-choose-us__title {
		font-size: 32px;
		line-height: 105%;
	}

	.why-choose-us-image-wrapper {
		max-width: 418px;
		height: 100%;
	}

	.why-choose-us-image-wrapper::after {
		width: 300px;
		height: 397px;
	}
}
